/* force scrollbar */
html {
  overflow-y: scroll;
}



body {
  padding-top: 2%;
  padding-left: .5%;
  padding-right: .5%;
  font-family: 'Montserrat', sans-serif;
}

.button {
  background-color: #ffffff;
  border: none;
  color: #363b46;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9rem;
  cursor: pointer;
  float: left;
}

.button:focus {
  background-color: #ffffff;
}

.button:hover {
  color: #ff3644;
  text-decoration: underline;
}

/*.button {
	margin-top: 10px;
	margin-bottom: 10px;
}*/

h4,
h5{
	font-family: 'Montserrat', sans-serif;
}

p {
	font-family: 'Montserrat', sans-serif;
}

.brand-name {
  margin: 10px;
}

.brand-logo{
  padding-top:8px;
}

.social {
	margin: 10px;
}
.social > a {
  padding: 5px;
  color: #000;
  margin:
}
.social > a:hover {
	color: #ff3644;
}

img:hover {
  opacity: 0.6;
  color: #ff3644;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
  padding: 1%;
}

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.footer-text{
	font-size: 10px;
}
