/* force scrollbar */
html {
  overflow-y: scroll;
}



body {
  padding-top: 2%;
  padding-left: .5%;
  padding-right: .5%;
  font-family: 'Montserrat', sans-serif;
}

.button {
  height: 40px;
  width: 100px;
  margin: 10px auto 10px;
  background: #ffffff;
  font-size: 0.8125rem;
  color: #363b46;
  cursor: pointer;
  border-color: 2px solid #363b46;
  border-style: inset;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}


.button:focus {
  background-color: white;
  color: #ff3644;
}

.active, .button:hover {
  color: #ff3644;
}


/*.button {
	margin-top: 10px;
	margin-bottom: 10px;
}*/

#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 30px;
    background-color: #ff3644;
    color: #ffffff;
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    border-radius: 50%;
}
#back2Top:hover {
    background-color: #363b46;
}





h4,
h5{
	font-family: 'Montserrat', sans-serif;
}

p {
	font-family: 'Montserrat', sans-serif;
}

.brand-name {
  margin: 10px;
}

.brand-logo{
  padding-top:8px;
}

.social {
	margin: 10px;
}
.social > a {
  padding: 5px;
  color: #000;
  margin:
}
.social > a:hover {
	color: #ff3644;
}

img {
  border-radius: 16px;
}

img:hover {
  opacity: 0.6;
  color: #ff3644;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
  padding: 1%;
}

.grid-sizer,
.grid-item {
  width: 25%;
}

.footer-text{
	font-size: 10px;
}
